# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Version control
.git
.gitignore

# Environment variables
.env*
!.env.example

# Docker files
Dockerfile
.dockerignore

# Misc
README.md
.DS_Store
*.pem